.card-container {
    width: 475px;
    background-color: whitesmoke;
    font-family: 'Baloo Bhaijaan 2';
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;;
}