.user-container {
    padding-left: 0.5em;
    padding-top: 0.5em;
}

.age-container {
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.form-button {
    width: 100px;
    margin-left: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.7em;
    padding: 5px;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    color: white;
    background-color: purple;
    padding: 8px 0;
}

form input {
    width: 475px;
    padding: 8px 0;
    border-radius: 5px;
    border: 0;
    
}