@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  /* background-color: #f0fff0; */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-image: url('suave.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}